body {
  background-color: black;
  color: #fdc22d;
  li {
    list-style: none;
  }

  a {
    text-decoration: none !important;
  }

  h1 {
    color: #dfdfdf;
  }
}

.empty-space {
  height: 80px
}
