.video-banner {
  position: relative;
  height: 100vh;
  .video iframe {
    width: 100vw;
    height: 100vh;
    border: 0;
  }
}


.video-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.banner-content {
  position: absolute;
  top: 40vh;
  left: 27vw;
  text-align: center;
  h1 {
    margin:0;
    padding:0;
    font-size: 50px;
  }
  color:white;
}
